.sidebar__wrapper
    .sidebar
        .sidebar__block
            input.sidebar__Menu(type="button" value="События")
            input.sidebar__Menu.sidebar__Menu--subMenu(type="button"  onclick="show('addEvent')" value="Создать событие")
            input.sidebar__Menu.sidebar__Menu--subMenu(type="button"  onclick="show('event')" value="Список событий")

        .sidebar__block
            input.sidebar__Menu(type="button" value="Адреса")
            input.sidebar__Menu.sidebar__Menu--subMenu(type="button"  onclick="show('addAdress')" value="Создать адрес")
            input.sidebar__Menu.sidebar__Menu--subMenu(type="button"  onclick="show('adress')" value="Список адресов")

