extends blocks/MainLayout.pug
block content
    .allContent__wrapper
        .allContent
            include blocks/sidebar/sidebar.pug
            .allContent__content
                include blocks/events/events.pug
                include blocks/adress/adress.pug





